<div class="list">
  <h2>ToDo List</h2>
  <ul>
  <% @tasks.each do |task| %>
    <li>
      <label>
        <input type="checkbox" name="" <%= task.completed == true ? "checked" : "" %> disabled="disabled">
        <p><%= link_to task.title, task_path(task.id) %></p>
        <span></span>
      </label>
    </li>
    <% end %>
  </ul>
  <%= link_to "Add task", tasks_new_path,id:"add-but", class:"btn btn-primary"%>
</div>
